@import '../../styles/utils/variables';

.dish-publisher {
  font-family: $font-dish-publisher;
  font-size: 4rem;
  font-weight: 900;
}

.dish-title {
  font-family: $font-dish-text;
  font-size: 4rem;
  font-weight: 900;
}

.dish-description {
  font-family: $font-dish-text;
  font-size: 3rem;
  font-weight: 900;
}

.dish-recipe {
  font-family: $font-dish-text;
  font-size: 3rem;
  font-weight: 900;
}

