@import '../../styles/utils/variables';

.dish-publisher {
  font-family: $font-dish-publisher;
  font-size: 4vw;
  font-weight: 100;
}

.dish-title {
  font-family: $font-dish-text;
  font-size: 4vw;
  font-weight: 900;
}

.dish-description {
  font-family: $font-dish-text;
  font-size: 3vw;
  font-weight: 900;
}

.dish-recipe {
  font-family: $font-dish-text;
  font-size: 3vw;
  font-weight: 900;
}

.button {
  width: 15vw;
  width: 10%;
}

@media only screen and (max-width:1300px) {
  .update-box-small-devices {
    padding-bottom: 5%;
  }
  .update-button-box-small-devices{
    padding-top: 5%;
  }
}


