.fadeOut {
  cursor: pointer;
  position: relative;
  display: flex;
  right: 20px;
  top: 20px;
  &.inactive {
    height: 30px;
    width: 30px;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  &.active {
    background: #eee;
    width: 150px;
    height: 200px;
    transition: all 0.5s ease-in-out;
    ul {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      -webkit-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }
    .lines {
      background: #fab800;
    }
  }
}

.card-padding {
  padding: "0%";
}