@import '../../styles/utils/variables';
.user {
  font-family: $font-dish-publisher;
  font-size: 3rem;
}
.avatar-box {
  display: flex;
  justify-content: center;
}

.button-box {
  padding-bottom: 1rem;
}

.publish-button-row {
  display: flex;
  padding-left: 6rem;
  height: 50px;
}

.publish-button-col {
  flex-grow: 1;
  height: 100px;
}
.publish-button-row-small-device {
  display: flex;
  justify-content:  center;
}

.item + .item {
  margin-left: 2%;
}

.dashboard {
  padding-top: 5%;
}

.logout {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.logout-small-devices {
  display: flex;
  justify-content: center;
  padding: 2.5% 0 2.5%;
}