.card-box {
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
}

.favourite {
  &.active {
    color: "#ff0000"
  }
  &.inactive {
    color: 'inherit'
  }
}

#rotate{
  width: 100px;
  height: 100px;
  background: red;
  margin: 50px;
  text-align: center
}

#rotate.rotated{
  transform: rotate(90deg);
}