/* .dashboard-header {
  display: flex;
  flex-direction: row;
}

.dashboard-header-column {
	width: 33%;
	height: 100px;
}

.center-element {
  display: flex;
  justify-content: center;
} */

.container {
  /* display: flex;
  justify-content: center; */

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.col {
  /* display: flex; */
  /* flex: 1 0 21%; */
  /* justify-content: center; */
  flex-direction: column;
}