.dashboard-header {
  display: flex;
  flex-direction: row;
}

.dashboard-header-column {
	width: 33%;
	height: 100px;
  /* padding-left: "2%"; */
}

.center-element {
  display: flex;
  justify-content: center;
}